{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="card" style="width: 40rem;padding: 20px;">
<p class="card-header" style="margin-bottom: 15px;">
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>

<form method="post" action="">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" value="{% trans 'Reset password' %}" class="btn btn-outline-secondary"/>
</form>
</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
