{% extends "registration/registration_base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% block title %}{% trans "Change password" %}{% endblock %} {% block content %}

<div class="wrapper">
    <div class="card" style="width: 40rem;padding: 20px;">
        <div class="card-header" style="margin-bottom: 15px;">
            <h3>Change your password</h3>
        </div>
        <form method="post" action="">
            {% csrf_token %} {{ form | crispy }}
            <input type="submit" class="btn btn-outline-success" value="{% trans 'Change password' %}" />
        </form>
    </div>
</div>
{% endblock %} {# This is used by django.contrib.auth #}