{% extends "base.html" %} {% load crispy_forms_tags %} {% block head_title %}{{instance.author}} | {{block.super}}{% endblock head_title %}{% block content %}
<div class="wrapper">
    <div class="card" style="width: 40rem;padding: 20px;">
        <h2>Please Update your Profile : </h2>
        <form method="POST" action='' enctype="multipart/form-data">
            {% csrf_token %} {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Update</button>
            <button class="btn btn-secondary" onclick="javascript:history.back();">Cancel</button>
        </form>
    </div>
</div>
{% endblock content %}