{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block head_title %}{{profile.author}} | {{block.super}}{% endblock head_title %} 
{% block content %}

<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Aticles</a>
                {% if user.is_authenticated and user == profile.author %}
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Account Settings</a>
                {% endif %}
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active text-center" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    {% if profile.avatar %} 
                    <img class="profile-avatar" src="/media/{{ profile.avatar }}" alt="" >
                    {% else %}
                    {% if profile.gender == 'Female' %}
                        <img class="profile-avatar" src="{% static 'image/female_avatar.jpg'%}" alt="">
                    {% else %}
                        <img class="profile-avatar" src="{% static 'image/male_avatar.jpg'%}" alt="" >
                    {% endif %}
                    {% endif %}
                    <p class="profile-author">Welcome, {{profile.author}}</p>
                    {% if profile.email %}
                    <span>Email: <a href="mailto:{{profile.email}}">{{profile.email}}</a></span>
                    {% endif %}
                    <div class="info-divider"></div>
                    {% if profile.website %}
                    <span>Website: <a href="{{profile.website}}">{{profile.website}}</a></span>
                    {% endif %}
                    <div class="info-divider"></div>
                    {% if profile.bio %}
                    <p>Bio : {{profile.bio}}</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Views</th>
                            <th scope="col">Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for post,comment in postcomment.items %}
                        <tr>
                            <th scope="row">{{post.id}}</th>
                            <td><a href="{{ post.get_absolute_url }}">{{post.title}}</a></td>
                            <td>1234</td>
                            <td>{{comment}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table> 
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Fugiat id quis dolor culpa eiusmod anim velit excepteur proident dolor aute qui magna. Ad proident laboris ullamco esse anim Lorem Lorem veniam quis Lorem irure occaecat velit nostrud magna nulla. Velit et et proident Lorem do ea tempor officia dolor. Reprehenderit Lorem aliquip labore est magna commodo est ea veniam consectetur.</div>                
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <form method="POST" action='' enctype="multipart/form-data">
                        {% csrf_token %} {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-raised">Update</button>
                        <button class="btn btn-default" onclick="javascript:history.back();">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}