.resume-wrapper {
    margin-top: 30px;
    width: 100%;
}

.resume-header {
    background: #80425F;
    color: rgba(255, 255, 255, 0.9);
    height: 220px;
}

@media (min-width: 768px) {
    .pt-md-0,
    .py-md-0 {
        padding-top: 0 !important;
    }
}

@media (min-width: 768px) {
    .flex-md-row {
        flex-direction: row !important;
    }
}

.resume-header .picture {
    width: 220px;
}

.media.flex-column.flex-md-row a {
    color: #FFF;
    font-size: 1.1rem;
}

h2.resume-section-title.text-uppercase.font-weight-bold.pb-3.mb-3 {
    color: #80425f;
    border-bottom: 2px solid #80425f;
}

.text-white {
    color: #FFF;
}

.resume-header .picture {
    position: relative;
}

.editicon {
    font-size: 14px !important;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(142, 141, 141);
    padding: 3px;
    border-radius: 2px;
}


.profile-avatar
{
    border-radius: 50%;
    width: 96px;
    height: 96px;
    border: 3px solid #EEE;
}

.profile-author
{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 4rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #414142;
    text-align: center;
}
.info-divider
{
    border: 2px solid #eee;
    width: 50px;
    display: block;
    margin: 10px auto 10px auto;
}