<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: unset !important;padding: 0px !important;">
    <div class="container">
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if categories %}
            <ul class="navbar-nav">
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_detail' c.slug %}">{{c.title}}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</nav>