{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">MyBlog</a>
        <li class="nav-item">
            <a class="nav-link" href="/admin/">Admin</a>
        </li>
        <a class="nav-link btn btn-outline-success" href="{% url 'post_create' %}">write your article</a>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="margin-left: auto;">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if profile.avatar %}
                        <img class="mr-3 img-fluid rounded-circle" src="/media/{{ profile.avatar }}" alt="" width="36" height="36"> 
                        {{request.user}}
                        {% else %}
                        {% if profile.gender == 'Female' %}
                        <img class="mr-3 img-fluid rounded-circle" src="{% static 'image/female_avatar.jpg'%}" alt="" width="36" height="36">
                        {{request.user}}
                        {% else %}
                        <img class="mr-3 img-fluid rounded-circle" src="{% static 'image/male_avatar.jpg'%}" alt="" width="36" height="36">
                        {{request.user}}
                        {% endif %}
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'post_create' %}">New Post</a>
                        <a class="dropdown-item" href="{% url 'user_profile' author=request.user %}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'auth_logout' %}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration_register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>