{% extends "base.html" %} {% load crispy_forms_tags %}
<!-- {% block head_extra %}
{{form.media}}
{% endblock head_extra %} -->

{% block content %}
<div class="wrapper">
    <div class="card" style="width: 40rem;padding: 20px;">
        <div class="card-header" style="margin-bottom: 15px;">
            <h3>Please send your post</h3>
        </div>
        <form method="POST" action='' enctype="multipart/form-data">
            {% csrf_token %} {{ form | crispy }}
            <input type="submit" value="Send" class="btn btn-primary">
            <a href="/" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}