{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% block head_extra %}
{{form.media}}
{% endblock head_extra %}

{% block content %}
<div class="wrapper">
    <div class="card postupdate">
        <h2>Please Update your Post : </h2>
        <form method="POST" action='' enctype="multipart/form-data">
            {% csrf_token %} {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-raised">Update</button>
            <button class="btn btn-secondary" onclick="javascript:history.back();">Cancel</button>
        </form>
    </div>
</div>
{% endblock content %}